@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 17, 17, 17;
  --background-start-rgb: 214, 219, 220;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 214, 219, 220;
    --background-start-rgb: 17, 17, 17;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: rgb(var(--background-start-rgb));
  dvw: 100;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.div-type {
  color: white;
  font-weight: 800;
  text-transform: uppercase;
  margin: 0 0.5rem;
  padding: 0.25rem 0.5rem;
  border-radius: 0.375rem;
  text-shadow: 2px 0px rgba(108, 108, 108, 0.5);
  box-shadow: 2px 2px 0px 0px rgba(0, 0, 0, 0.5);
}

